html,
body {
	height: 100vh;
	padding: 0;
	margin: 0;
	position: relative;
}

i {
	font-size: 2em;
}

#map {
	height: 100vh;
	width: calc(100vw - 24px);
	margin-left: 24px;
}

#sidebar {
	background-color: #292;
	opacity: 0.95;
	height: 100vh;
	width: 30vw;
	overflow: scroll;
	z-index: 1;
	position: absolute;
	left: calc(-30vw + 24px);
	transition-property: transform;
	transition-duration: .8s;
	transition-timing-function: ease;
	will-change: transform;
}

.slide {
	transform: translate3d(calc(30vw - 24px), 0, 0);
}

.spin {
	transform: rotateY(180deg);
}

#chevron {
	background-color: #0F0;
	text-align: center;
	width: 48px;
	border-radius: 24px;
	font-size: 2em;
	position: absolute;
	right: -16px;
	top: 50vh;
	transition-property: transform;
	transition-duration: .8s;
	transition-timing-function: ease;
	will-change: transform;
}
