html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
}

#map {
	height: 91%;
	width: 78%;
	position: absolute;
	top: 9%;
	left: 22%;
}

#sidebar {
	height: 91%;
	width: 22%;
	background-color: #FFF;
	overflow: scroll;
	position: absolute;
	top: 9%;
	left: 0;
}

#searchbar {
	height: 9%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#search {
	margin-top: 2%;
	margin-left: 22%;
	height: 48px;
	width: 77%;
}
