html,
body {
	height: 100vh;
	padding: 0;
	margin: 0;
	position: relative;
}

i {
	font-size: 2em;
}

#map {
	height: 100vh;
	width: calc(100vw - 24px);
	margin-left: 24px;
}

#sidebar {
	background-color: #292;
	height: 100vh;
	width: 30vw;
	overflow: scroll;
	z-index: 1;
	position: absolute;
	left: calc(-30vw + 24px);
	transition-property: transform;
	transition-duration: 1.1s;
	transition-timing-function: ease;
	will-change: transform;
}

.slide {
	transform: translate3d(calc(30vw - 24px), 0, 0);
}

.spin {
	transform: translate3d(calc(30vw - 24px), 0, 0) rotateY(180deg);
}

#chevron {
	background-color: #0D0;
	text-align: center;
	width: 39px;
	border-radius: 39px;
	font-size: 2em;
	text-decoration: none;
	position: fixed;
	top: calc(50vh - 19px);
	left: 0;
	z-index: 2;
	transition-property: transform;
	transition-duration: 1.1s;
	transition-timing-function: ease;
	will-change: transform;
}

#list-view {
	background-color: #EEE;
	list-style: none;
	list-style-image: none;
	list-style-type: none;
	width: calc(30vw - 40px);
	margin: 0;
	padding-left: 10px;
	border-radius: 0 20px 0 0;
}

.list-item {
	padding: 12px 0 12px 0;
}

#filter {
	background: #EEE;
	width: calc(30vw - 50px);
	height: 64px;
	margin: 10px 0 10px 0;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
}

.text-search {
	width: 100%;
}

.text-field {
	width: 75%;
	height: 20px;
}

.attributions {
	display: flex;
	flex-wrap: wrap;
	background-color: #EEE;
	width: 100px;
	position: fixed;
	z-index: 3;
	top: 0;
	right: 0;
}

.attributions img {
	margin: 5px 0 5px 0;
	width: 100%;
	height: 50%;
}
